.designdnt_a{
	color: #fff;
	}

.designdnt_b{
	color: #ff6a9d;
	}

.post_type {
float: left; 
text-decoration: none; 
list-style: none; 
margin: -10px 40px 10px -22px;
}

.post_type {
float: left; 
text-decoration: none; 
list-style: none; 
margin: 0px 40px 10px -22px;
}

.dnt_lang{
	font-weight: bold;
	text-align: left;
}

.search table tr td img {
    width: auto; 
    height: 50px;
}
.right-side > .content-header {
    padding: 15px 20px 1px 15px;
    background: #f1f1f1;
    box-shadow: none;
}

.dnt-devider {
    width: 103%;
    height: 20px;
    background-color: #f1f1f1;
    margin-bottom: 20px;
    margin-left: -20px;
    overflow: hidden;
}
