@charset "UTF-8";
/*
 * jQuery File Upload Plugin CSS Example 8.8.2
 * https://github.com/blueimp/jQuery-File-Upload
 *
 * Copyright 2013, Sebastian Tschan
 * https://blueimp.net
 *
 * Licensed under the MIT license:
 * http://www.opensource.org/licenses/MIT
 */

body {
  padding-top: 60px;
}
.right-side > .content-header {
    padding: 15px 20px 1px 0px;
    background: #f1f1f1;
    box-shadow: none;
}
