/** POLLS **/
#the_cookies3{display:none;}
/* fake advertising */
.polls_adver{
    width: 100%;
    height: 600px;
    background: #00bcd4;
}
/* Main */
.polls_cont{
    padding: 0 20px 50px 20px;
}
.polls_cont .title h2,
.polls_cont .title h3,
.polls_cont .title h4{
    color: #111;
}
.polls_cont .title h2{
    padding-bottom: 25px; 
}
.polls_cont a,
.polls_cont a:hover{
    color: #111;
}
.polls_cont .body{
    padding: 0 20px;
}
@media screen and (max-width: 767px){
    .polls_cont .body{
        padding: 0;
    }
    .polls_cont{
        padding: 0 5px 20px 5px;
    }
}
/* First step */
.polls_cont .tab{
    border-top: 0px solid #9e9e9e;
    border-left: 1px solid #9e9e9e;
    border-right: 1px solid #9e9e9e;
    border-bottom: 1px solid #9e9e9e;
    padding: 15px 25px;
    background: transparent;
    transition: all .2s ease;
    -o-transition: all .2s ease;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;    	
}
.polls_cont .tab:first-child{
    border-radius: 5px 5px 0 0;
    border-top: 1px solid #9e9e9e;
}
.polls_cont .tab:last-child{
    border-radius: 0 0 5px 5px;
    border-top: 0px solid #9e9e9e;
}
.polls_cont .tab:hover{
    background: #efefef;	
}
.polls_cont .social h4{
    color: #111;
    float: right;
    font-size: 15px;
}
.polls_cont .tab .title.top h4{
    text-align: left;
}

@media screen and (max-width: 767px) {
    .polls_cont .tab .title.top h4{
        text-align: center;
    }
}
.polls_cont .tab .content{
    padding: 5px 0;
}

/* kviz vyhodnotenie category */
.polls_cont .tests a,
.polls_cont p[class="name"]{
    font-size: 12px;
    color: #818181;
}
.polls_cont .progress {
    overflow: hidden;
    height: 2px;
}
.polls_cont .result .cover img, 
.polls_cont .question .cover img{
    margin-top: 20px;
    box-shadow: 0 0px 15px #4b4b4b;
}
.polls_cont .result .title h3,
.polls_cont .question .title h3{
    font-size: 20px;
    color: #5c5c5c;
    padding-top: 25px
}
.polls_cont .result .title h4{
    font-size: 20px;
    color: #111;
    padding: 10px 0 25px 0;
}
.polls_cont .result .content{
    padding-bottom: 30px;
}
.polls_cont .question .content{
    padding-top: 30px;
    padding-bottom: 30px;
}
.polls_cont .question .btn{
    border-radius: 20px;
    color: #818181;
    font-size: 12px;
    padding: 3px 18px 5px 18px;
}
.polls_cont .question .btn.next{
    color: #111;
}
.polls_cont .question .content .radio{
    padding: 10px 0;
}
.polls_cont .result .content p{
    color: #5c5c5c;
    line-height: 25px;
    font-size: 12px;
}
.polls_cont .result .social h4 {
    float: none;
    width: 200px;
    border: 1px solid #aeaeae;
    border-radius: 10px;
    padding: 7px 0 9px 0;
    text-align: center;
    margin: 0 auto;
    font-size: 12px;
}

/* modal */
.polls_cont .modal.fade .modal-dialog{
    width: 450px;
}
.polls_cont .modal.fade .modal-dialog h3{
    font-size: 20px;
    color: #696969;
    text-align: center;
    padding: 5px 0 0 0;
    margin: 0;
}
.polls_cont .modal.fade .modal-dialog h4{
    font-size: 15px;
    color: #696969;
    line-height: 15px;
    text-align: center;
    margin: 0;
    padding: 0 30px;
}
.polls_cont .modal.fade .modal-dialog hr{
    width: 140px;
    margin: 15px auto 10px auto;
    padding: 0;
}
.polls_cont .modal-header {
    color: #333;
    font-size: 15px;
    padding: 15px;
    border-radius: 4px 4px 0 0;
    border-bottom: 1px solid #e5e5e5;
    background: #011d39;
}
.polls_cont .modal-header img{
    width: 130px;
}
.polls_cont .btn-default {
    padding: 5px 10px;
    margin: 0;
    font-size: 12px;
}
.polls_cont .close {
    float: right;
    font-size: 21px;
    font-weight: bold;
    line-height: 1;
    color: #fff;
    text-shadow: 0 1px 0 #fff;
    opacity: .2;
    filter: alpha(opacity=20);
}





.polls_cont .input-wrap{
    color: #AAAAAA;
    display: block;
    position: relative;
    float: left;
    width: 100%;
    height: 100px;
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: auto;
    height: auto;
}


.polls_cont .input-wrap input[type=radio]{
    position: absolute;
    visibility: hidden;
}

.polls_cont .input-wrap label {
    display: block;
    position: relative;
    font-weight: 300;
    font-size: 15px;
    padding: 15px 25px 0px 70px;
    margin: 10px auto;
    height: 30px;
    z-index: 9;
    cursor: pointer;
    -webkit-transition: all 0.25s linear;
    height: auto;
    color: #111;
}

.polls_cont .input-wrap:hover label{
    color: #111;
}

.polls_cont .input-wrap .check {
    display: block;
    position: absolute;
    border: 2px solid #111;
    border-radius: 100%;
    height: 18px;
    width: 18px;
    top: 30px;
    left: 20px;
    z-index: 5;
    transition: border .25s linear;
    -webkit-transition: border .25s linear;
}

.polls_cont ul .input-wrap:hover .check {
    border: 5px solid #FFFFFF;
}

.polls_cont .input-wrap .check::before {
    display: block;
    position: absolute;
    content: '';
    border-radius: 100%;
    height: 10px;
    width: 10px;
    top: 2px;
    left: 2px;
    margin: auto;
    transition: background 0.25s linear;
    -webkit-transition: background 0.25s linear;
}

.polls_cont input[type=radio]:checked ~ .check {
    border: 2px solid #111;
}

.polls_cont input[type=radio]:checked ~ .check::before{
    background: #111;
}

.polls_cont input[type=radio]:checked ~ label{
    color: #111;
}

@media screen and (max-width: 500px) {
    .polls_cont .question .content {
        padding-left: 0px;
    }
    .container .tvnnoviny{
        padding: 0px;
    }

    .polls_cont .input-wrap label {
        padding: 20px 0px 0px 50px;
        margin: 5px 0px;
    }

    .polls_cont .input-wrap {
        margin-left: -10px;
    }
    .polls_cont .input-wrap label {
        font-size: 14px;
    }
    .polls_cont .modal.fade .modal-dialog {
        width: 95%;
    }
}